page-notas {
    h1 {
        padding: 13px 0px 0px 13px;
        color: map-get($colors, primary);
    }
    .card-header-ios, .card-header-md{
        color: map-get($colors, secondary);
        font-weight: bold;
    }
    .scroll-content {
        background-color: map-get($colors, light);
    }
}
